[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
sendgrid = "*"
flask-mail = "*"
flask-moment = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-migrate = "*"
faker = "*"
pillow = "*"
click = "*"
bootstrap-flask = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.13"
